@import './core/normalize';
@import './core/reset';
@import './layouts/searcher';
@import './layouts/characterList';
@import './layouts/characterCard';
@import './layouts/modal';


.App {
  text-align: center;
  background-color: #20A4F3;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}




