.list__container{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media all and(min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    & .character__container{
        width: 80%;
        max-width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 280px;
        background-color: #000000a5;
        margin-bottom: 30px;
        border-radius: 8px;

        &:hover{
            transform: scale(1.15, 1.15);
        }

        @media all and(min-width:768px) {
            width: 40%;
        }

        @media all and (min-width: 1200px){
            max-width: 325px;
        }
    }
}