.searcher__container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    & input {
        width: 50%;
        height: 30px;
        border: black solid 2px;
        border-radius: 8px;
        padding: 4px;
        margin-right: 4px;

        &::placeholder{
            color:#EC1D24;
            font-weight: 700;
            text-transform: uppercase;
        }

        @media all and(min-width:768px) {
            width: 40%;
            height: 40px;
           }

           @media all and (min-width: 1200px){
            width: 30%;
        }
    }

    & .searcher__button {
        background-color: #EC1D24;
        border: none;
        width: 70px;
        height: 30px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        outline: none;
        border-radius: 8px;
        -webkit-tap-highlight-color: none;

        @media all and(min-width:768px) {
            height: 40px;
            width: 70px;
           }
    }
}